#corona_map {
    width: 100%;
    padding-top: 70%;
}

#corona_count, #corona_eu {
    width: 100%;
}

.stats {
    padding: 7px;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
}

#corona_dboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#corona_dboard div {
    margin: 5px;
    padding: 5px;
    border-style: solid;
    max-width: 30%;
    border-width: 1px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    #corona_dboard div {
        max-width: 100%;
        width: 100%;
    }
  }

#corona_stats_updated {
    font-size: x-small;
}

#pocitadlo {
    width: 100%;
    font-family: 'Asap';
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#progresbar {
    width: 100%;
}

#dashboardik {
    width: 100%;
    padding: 0.8rem;
    height: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}


.boxik {
    width: 30%;
    max-width: 320px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.25rem 0rem;
    padding: 2rem 0.25rem;
}

.cislo {
    font-size: 1.8rem;
    font-weight: bold;;
}

.vysvetl {
    font-size: 0.8rem;
    text-align: center;
}

.strategie {
    background-color: #ededed;
    width: 50%;
    margin: 0;
    padding: 2rem 0rem;
}